.page{
    font-family: Arial, Helvetica, sans-serif;
    width:900px;
    margin:auto;
}
.head{
    margin-top: 30px;
    border-bottom: 2px lightgrey solid ;
    overflow: auto;
}
h1{
    font-weight:normal;
    line-height: 30px;
    float:left;
    margin:0 10px;
}
.menu{
    float:right;
}
.menu button, .menu input{
    height: 40px;
    border: 0;
    margin-left:5px;
    padding:0 15px;
    background-color:lightgrey;
}
#delete-product-btn{
    background-color:crimson;
}
.prod{
    width: 205px;
    border: 1px solid black;
    box-sizing: border-box;
    text-align: center;
    padding:10px 0;
    float:left;
    margin: 10px;
}

/* Add product page */
#product_form input, #product_form select{
    margin:10px;
}